<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs24.website.persistence.CouponMapper">

	<resultMap type="com.gs24.website.domain.CouponVO"
		id="couponResultMap">
		<id property="couponId" column="COUPON_ID" />
		<result property="couponName" column="COUPON_NAME" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="couponGrantDate" column="COUPON_GRANT_DATE" />
		<result property="couponExpiredDate"
			column="COUPON_EXPIRED_DATE" />
		<result property="discountType" column="DISCOUNT_TYPE" />
		<result property="discountValue" column="DISCOUNT_VALUE" />
		<result property="foodType" column="FOOD_TYPE" />
		<result property="isUsed" column="IS_USED" />
	</resultMap>

	<insert id="insertCoupon">
		INSERT INTO COUPON
		(COUPON_ID, COUPON_NAME, MEMBER_ID,
		COUPON_GRANT_DATE,
		COUPON_EXPIRED_DATE, DISCOUNT_TYPE, DISCOUNT_VALUE,
		FOOD_TYPE, IS_USED)
		VALUES
		(COUPON_SEQ.NEXTVAL, #{couponName},
		#{memberId}, SYSDATE,
		#{couponExpiredDate}, #{discountType},
		#{discountValue}, #{foodType}, 0)
	</insert>


	<select id="selectList" resultMap="couponResultMap">
		SELECT * FROM COUPON
		WHERE
		MEMBER_ID = #{memberId}
		ORDER BY COUPON_GRANT_DATE DESC
	</select>

	<select id="selectDetailByCouponId" resultMap="couponResultMap">
		SELECT * FROM
		COUPON
		WHERE COUPON_ID = #{couponId}
	</select>

	<select id="countByCouponNameAndMemberId" resultType="Integer">
		SELECT
		COUNT(*) FROM
		COUPON
		WHERE COUPON_NAME = #{couponName} AND MEMBER_ID =
		#{memberId}
	</select>

	<select id="birthdayCouponDupCheck" resultType="Integer">
		SELECT COUNT(*)
		FROM
		COUPON
		WHERE COUPON_NAME = '생일 축하 쿠폰' AND MEMBER_ID = #{memberId}
	</select>

	<select id="selectTotalCount" resultType="Integer">
		SELECT COUNT(*)
		TOTAL_COUNT FROM COUPON WHERE MEMBER_ID = #{memberId}
	</select>

	<select id="selectAvailableCount" resultType="Integer">
		SELECT COUNT(*)
		TOTAL_COUNT FROM COUPON WHERE
		SYSDATE &lt; COUPON_EXPIRED_DATE AND
		IS_USED = 0 AND MEMBER_ID = #{memberId}
	</select>

	<select id="selectExpiredCount" resultType="Integer">
		SELECT COUNT(*)
		TOTAL_COUNT FROM COUPON WHERE
		SYSDATE &gt;= COUPON_EXPIRED_DATE AND
		MEMBER_ID = #{memberId}
	</select>

	<select id="selectUsedCount" resultType="Integer">
		SELECT COUNT(*)
		TOTAL_COUNT FROM COUPON WHERE IS_USED = 1 AND MEMBER_ID = #{memberId}
	</select>

	<select id="selectListByPagination" resultMap="couponResultMap">
		SELECT * FROM
		(
		SELECT ROW_NUMBER() OVER (ORDER BY COUPON_GRANT_DATE DESC)
		AS RN,
		COUPON.* FROM COUPON WHERE MEMBER_ID = #{memberId}
		)
		WHERE RN BETWEEN
		#{start} AND #{end}
	</select>

	<select id="selectAvailableListByPagination"
		resultMap="couponResultMap">
		SELECT * FROM
		(
		SELECT ROW_NUMBER() OVER (ORDER BY
		COUPON_GRANT_DATE DESC)
		AS RN, COUPON.* FROM COUPON WHERE MEMBER_ID =
		#{memberId} AND
		SYSDATE &lt; COUPON_EXPIRED_DATE AND IS_USED = 0
		)
		WHERE
		RN BETWEEN #{start} AND #{end}
	</select>

	<select id="selectExpiredListByPagination"
		resultMap="couponResultMap">
		SELECT * FROM
		(
		SELECT ROW_NUMBER() OVER (ORDER BY
		COUPON_GRANT_DATE DESC)
		AS RN, COUPON.* FROM COUPON WHERE MEMBER_ID =
		#{memberId} AND
		SYSDATE &gt;= COUPON_EXPIRED_DATE
		)
		WHERE RN BETWEEN
		#{start} AND #{end}
	</select>

	<select id="selectUsedListByPagination"
		resultMap="couponResultMap">
		SELECT * FROM
		(
		SELECT ROW_NUMBER() OVER (ORDER BY
		COUPON_GRANT_DATE DESC)
		AS RN, COUPON.* FROM COUPON WHERE MEMBER_ID =
		#{memberId} AND IS_USED =
		1
		)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>


</mapper>