<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs24.website.persistence.CouponQueueMapper">

	<resultMap type="com.gs24.website.domain.CouponQueueVO"
		id="CouponQueueResultMap">
		<id property="queueId" column="QUEUE_ID" />
		<result property="couponId" column="COUPON_ID" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="queueDateCreated" column="QUEUE_DATE_CREATED" />
	</resultMap>
	
	<resultMap type="com.gs24.website.domain.PreorderVO" id="PreorderResultMap">
		<id property="preorderId" column="PREORDER_ID"/>
		<result property="foodId" column="FOOD_ID"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="preorderAmount" column="PREORDER_AMOUNT"/>
		<result property="pickupDate" column="PICKUP_DATE"/>
		<result property="isPickUp" column="IS_PICK_UP"/>
		<result property="isExpiredOrder" column="IS_EXPIRED_ORDER"/>
	</resultMap>

	<insert id="insertQueue">
		INSERT INTO COUPON_QUEUE
		(QUEUE_ID, COUPON_ID, MEMBER_ID,
		QUEUE_DATE_CREATED)
		VALUES
		(COUPON_QUEUE_SEQ.NEXTVAL, #{couponId}, #{memberId}, SYSDATE)
	</insert>
</mapper>