<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs24.website.persistence.CouponMapper">

	<resultMap type="com.gs24.website.domain.CouponVO"
		id="CouponResultMap">
		<id property="couponId" column="COUPON_ID" />
		<result property="foodType" column="FOOD_TYPE" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="couponName" column="COUPON_NAME" />
		<result property="couponAmount" column="COUPON_AMOUNT" />
		<result property="discountType" column="DISCOUNT_TYPE" />
		<result property="percentage" column="PERCENTAGE" />
		<result property="amount" column="AMOUNT" />
		<result property="couponExpiredDate" column="COUPON_EXPIRED_DATE" />
		<result property="isDuplicateAllowed" column="IS_DUPLICATE_ALLOWED" />
	</resultMap>

	<insert id="insertCoupon" useGeneratedKeys="true" keyProperty="couponId">
    <!-- selectKey를 사용하여 시퀀스로 생성된 값을 couponId에 매핑 -->
    <selectKey keyProperty="couponId" resultType="Integer" order="BEFORE">
        SELECT COUPON_SEQ.NEXTVAL FROM DUAL
    </selectKey>
    INSERT INTO COUPON (
        COUPON_ID, FOOD_TYPE, COUPON_NAME, COUPON_AMOUNT, 
        DISCOUNT_TYPE, PERCENTAGE, AMOUNT, COUPON_EXPIRED_DATE, 
        IS_DUPLICATE_ALLOWED
    ) VALUES (
        #{couponId}, #{foodType}, #{couponName}, #{couponAmount}, 
        #{discountType}, 
        <choose>
            <when test="discountType == 'A'">NULL</when> <!-- A일 경우 null, DB 기본값 적용 -->
            <otherwise>#{percentage}</otherwise>
        </choose>,
        <choose>
            <when test="discountType == 'P'">NULL</when> <!-- P일 경우 null, DB 기본값 적용 -->
            <otherwise>#{amount}</otherwise>
        </choose>,
        #{couponExpiredDate}, #{isDuplicateAllowed}
    )
</insert>

	
	<update id="useCoupon">
		UPDATE COUPON
		SET COUPON_AMOUNT = COUPON_AMOUNT - 1
		WHERE COUPON_ID = #{couponId}
	</update>
	
	<update id="refundCoupon">
		UPDATE COUPON
		SET COUPON_AMOUNT = COUPON_AMOUNT + 1
		WHERE COUPON_ID = #{couponId}
	</update>
	
	<select id="selectList" resultMap="CouponResultMap">
		SELECT * FROM COUPON
		ORDER BY COUPON_ID DESC
	</select>
	
	<select id="selectCouponByCouponId" resultMap="CouponResultMap">
		SELECT * FROM COUPON
		WHERE COUPON_ID = #{couponId}
	</select>

	<select id="selectListByFoodType" resultMap="CouponResultMap">
		SELECT * 
		FROM COUPON
		WHERE (FOOD_TYPE = #{foodType} OR FOOD_TYPE = '전체')
		ORDER BY COUPON_ID DESC
	</select>
	
	<delete id="deleteExpiredCoupons">
        DELETE FROM COUPON 
		WHERE COUPON_EXPIRED_DATE &lt; SYSDATE - INTERVAL '30' DAY
    </delete>

</mapper>