<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs24.website.persistence.CouponMapper">

	<resultMap type="com.gs24.website.domain.CouponVO"
		id="CouponResultMap">
		<id property="couponId" column="COUPON_ID" />
		<result property="foodType" column="FOOD_TYPE" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="couponName" column="COUPON_NAME" />
		<result property="couponAmount" column="COUPON_AMOUNT" />
		<result property="discountType" column="DISCOUNT_TYPE" />
		<result property="discountValue" column="DISCOUNT_VALUE" />
		<result property="couponExpiredDate" column="COUPON_EXPIRED_DATE" />
		<result property="isDuplicateAllowed" column="IS_DUPLICATE_ALLOWED" />
		<result property="isAvailable" column="IS_AVAILABLE" />
	</resultMap>

	<insert id="insertCoupon" useGeneratedKeys="true" keyProperty="couponId">
    <!-- selectKey를 사용하여 시퀀스로 생성된 값을 couponId에 매핑 -->
    <selectKey keyProperty="couponId" resultType="Integer" order="BEFORE">
        SELECT COUPON_SEQ.NEXTVAL FROM DUAL
    </selectKey>
    
    INSERT INTO COUPON
    (COUPON_ID, FOOD_TYPE, COUPON_AMOUNT, COUPON_NAME,
    COUPON_EXPIRED_DATE, DISCOUNT_TYPE, DISCOUNT_VALUE, IS_DUPLICATE_ALLOWED, IS_AVAILABLE)
    VALUES
    (#{couponId}, #{foodType}, #{couponAmount}, #{couponName},
    #{couponExpiredDate}, #{discountType},
    #{discountValue}, #{isDuplicateAllowed}, 1)
	</insert>

	
	<update id="useCoupon">
		UPDATE COUPON
		SET COUPON_AMOUNT = COUPON_AMOUNT - 1
		WHERE COUPON_ID = #{couponId}
	</update>
	
	<select id="selectList" resultMap="CouponResultMap">
		SELECT * FROM COUPON
		ORDER BY COUPON_ID DESC
	</select>
	
	<select id="selectCouponByCouponId" resultMap="CouponResultMap">
		SELECT * FROM COUPON
		WHERE COUPON_ID = #{couponId}
	</select>

	<select id="selectListByFoodType" resultMap="CouponResultMap">
		SELECT * FROM COUPON 
		WHERE FOOD_TYPE = #{foodType} AND IS_AVAILABLE = 1
	</select>


</mapper>