<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs24.website.persistence.EarlyBirdCouponMapper">

	<resultMap type="com.gs24.website.domain.EarlyBirdCouponVO"
		id="EarlyBirdCouponResultMap">
		<id property="earlyBirdCouponId" column="EARLY_BIRD_COUPON_ID" />
		<result property="foodType" column="FOOD_TYPE" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="earlyBirdCouponAmount" column="EARLY_BIRD_COUPON_AMOUNT" />
		<result property="discountType" column="DISCOUNT_TYPE" />
		<result property="discountValue" column="DISCOUNT_VALUE" />
		<result property="earlyBirdCouponExpiredDate" column="EARLY_BIRD_COUPON_EXPIRED_DATE" />
		<result property="earlyBirdCouponName" column="EARLY_BIRD_COUPON_NAME" />
	</resultMap>

	<insert id="insertEarlyBirdCoupon">
		INSERT INTO EARLY_BIRD_COUPON
		(EARLY_BIRD_COUPON_ID, FOOD_TYPE, EARLY_BIRD_COUPON_AMOUNT,
		EARLY_BIRD_COUPON_EXPIRED_DATE, DISCOUNT_TYPE, DISCOUNT_VALUE,
		 EARLY_BIRD_COUPON_NAME)
		VALUES
		(EARLY_BIRD_COUPON_SEQ.NEXTVAL, #{foodType}, #{earlyBirdCouponAmount},
		#{earlyBirdCouponExpiredDate}, #{discountType},
		#{discountValue}, #{earlyBirdCouponName})
	</insert>
	
	


	


</mapper>