<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs24.website.persistence.EarlyBirdCouponMapper">

	<resultMap type="com.gs24.website.domain.EarlyBirdCouponVO"
		id="earlyBirdCouponResultMap">
		<id property="earlyBirdCouponId" column="EARLY_BIRD_COUPON_ID" />
		<result property="foodType" column="FOOD_TYPE" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="earlyBirdCouponAmount" column="EARLY_BIRD_COUPON_AMOUNT" />
		<result property="discountType" column="DISCOUNT_TYPE" />
		<result property="discountValue" column="DISCOUNT_VALUE" />
		<result property="earlyBirdCouponExpiredDate" column="EARLY_BIRD_COUPON_EXPIRED_DATE" />
		<result property="earlyBirdCouponName" column="EARLY_BIRD_COUPON_NAME" />
		<result property="isDuplicateAllowed" column="IS_DUPLICATE_ALLOWED" />
		<result property="isAvailable" column="IS_AVAILABLE" />
	</resultMap>
	
	<resultMap type="com.gs24.website.domain.PreorderVO" id="PreorderResultMap">
		<id property="preorderId" column="PREORDER_ID"/>
		<result property="foodId" column="FOOD_ID"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="preorderAmount" column="PREORDER_AMOUNT"/>
		<result property="pickupDate" column="PICKUP_DATE"/>
		<result property="isPickUp" column="IS_PICK_UP"/>
		<result property="isExpiredOrder" column="IS_EXPIRED_ORDER"/>
	</resultMap>

	<insert id="insertEarlyBirdCoupon">
		INSERT INTO EARLY_BIRD_COUPON
		(EARLY_BIRD_COUPON_ID, FOOD_TYPE, EARLY_BIRD_COUPON_AMOUNT,
		EARLY_BIRD_COUPON_EXPIRED_DATE, DISCOUNT_TYPE, DISCOUNT_VALUE,
		 EARLY_BIRD_COUPON_NAME, IS_DUPLICATE_ALLOWED, IS_AVAILABLE)
		VALUES
		(EARLY_BIRD_COUPON_SEQ.NEXTVAL, #{foodType}, #{earlyBirdCouponAmount},
		#{earlyBirdCouponExpiredDate}, #{discountType},
		#{discountValue}, #{earlyBirdCouponName}, #{isDuplicateAllowed}, 1)
	</insert>
	
	<update id="useEarlyBirdCoupon">
		UPDATE EARLY_BIRD_COUPON
		SET EARLY_BIRD_COUPON_AMOUNT = EARLY_BIRD_COUPON_AMOUNT - 1
		WHERE EARLY_BIRD_COUPON_ID = #{earlyBirdCouponId}
	</update>
	
	<select id="selectList" resultMap="earlyBirdCouponResultMap">
		SELECT * FROM EARLY_BIRD_COUPON
		ORDER BY EARLY_BIRD_COUPON_ID DESC
	</select>

	<select id="selectListByFoodType" resultMap="earlyBirdCouponResultMap">
	SELECT
	e.EARLY_BIRD_COUPON_ID,
	e.FOOD_TYPE,
	e.EARLY_BIRD_COUPON_AMOUNT,
	e.DISCOUNT_TYPE,
	e.DISCOUNT_VALUE,
	e.EARLY_BIRD_COUPON_EXPIRED_DATE,
	e.EARLY_BIRD_COUPON_NAME,
	e.IS_DUPLICATE_ALLOWED,
	e.IS_AVAILABLE
	FROM
	early_bird_coupon e
	WHERE
	e.FOOD_TYPE = #{foodType}
	AND e.IS_AVAILABLE = 1
	</select>


</mapper>