<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs24.website.persistence.FoodMapper">
	<resultMap type="com.gs24.website.domain.FoodVO" id="foodResultMap">
		<id property="foodId" column="FOOD_ID"/>
		<result property="foodType" column="FOOD_TYPE"/>
		<result property="foodName" column="FOOD_NAME"/>
		<result property="foodPrice" column="FOOD_PRICE"/>
		<result property="foodProtein" column="FOOD_PROTEIN"/>
		<result property="foodFat" column="FOOD_FAT"/>
		<result property="foodCarb" column="FOOD_CARB"/>
		<result property="foodStock" column="FOOD_STOCK"/>
		<result property="isSelling" column="IS_SELLING"/>
		<result property="foodAvgRating" column="FOOD_AVG_RATING"/>
		<result property="foodReviewCnt" column="FOOD_REVIEW_CNT"/>
	</resultMap>
	
	<insert id="insertFood">
		INSERT INTO FOOD(FOOD_ID,FOOD_TYPE, FOOD_NAME, FOOD_PRICE, FOOD_PROTEIN, FOOD_FAT, FOOD_CARB, FOOD_STOCK, IS_SELLING)
		VALUES(FOOD_SEQ.NEXTVAL, #{foodType}, #{foodName}, #{foodPrice}, #{foodProtein},#{foodFat},#{foodCarb}, #{foodStock}, #{isSelling})
	</insert>
	
	<select id="selectAllFoodByPagination" resultMap="foodResultMap">
		SELECT * FROM
    		(
    		SELECT ROW_NUMBER() OVER (ORDER BY FOOD_ID DESC) AS RN, FOOD.*
    		FROM FOOD
    		)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="countTotalFood" resultType="Integer">
		SELECT COUNT (*) FROM FOOD
	</select>
	
	<select id="selectFoodById" resultMap="foodResultMap">
		SELECT * FROM FOOD WHERE FOOD_ID = #{foodId}
	</select>
	
	<update id="updateFoodById">
		UPDATE FOOD SET FOOD_STOCK = #{foodStock}, FOOD_PRICE = #{foodPrice}, IS_SELLING = #{isSelling} WHERE FOOD_ID = #{foodId}
	</update>
	
	<delete id="deleteFoodById">
		DELETE FROM FOOD WHERE FOOD_ID = #{foodId}
	</delete>
	
	<update id="updateFoodStockByFoodAmount">
		UPDATE FOOD SET FOOD_STOCK = FOOD_STOCK - #{foodAmount} WHERE FOOD_ID = #{foodId}
	</update>
	
	<update id="updateFoodTotalRatingFoodReviewCntByFoodId">
		UPDATE FOOD SET FOOD_AVG_RATING = #{avgRating}, FOOD_REVIEW_CNT = #{reviewCnt} WHERE FOOD_ID = #{foodId}
	</update>
	
	<select id="checkFoodAmountStatus" resultType="Integer">
        SELECT CASE WHEN SUM(FOOD_AMOUNT) > 0 THEN 1 ELSE 0 END AS RESULT
        FROM CONVENIENCE_FOOD WHERE FOOD_ID = #{foodId}
    </select>
    
    <select id="getFoodNameByFoodId" resultType="String">
		SELECT FOOD_NAME FROM FOOD WHERE FOOD_ID = #{foodId}
	</select>
	
	<select id="getFoodStock" resultType="Integer">
    SELECT FOOD_STOCK 
    FROM FOOD 
    WHERE FOOD_ID = #{foodId}
	</select>
	
	<select id="getFoodTypeByFoodId" resultType="String">
		 SELECT FOOD_TYPE 
		 FROM FOOD 
		 WHERE FOOD_ID = #{foodId} 
	 </select>
	
	<update id="restoreFoodStock">
	    UPDATE FOOD
	    SET FOOD_STOCK = FOOD_STOCK + #{amount}
	    WHERE FOOD_ID = #{foodId}
	</update>
	
</mapper>