<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs24.website.persistence.ImgMapper">

	<select id="selectNextReviewId" resultType="int">
		SELECT LAST_NUMBER
		FROM USER_SEQUENCES WHERE SEQUENCE_NAME = 'REVIEW_SEQ'
	</select>
	
	<select id="selectNextFoodId" resultType="int">
		SELECT LAST_NUMBER
		FROM USER_SEQUENCES WHERE SEQUENCE_NAME = 'FOOD_SEQ'
	</select>
</mapper>