<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs24.website.persistence.ImgReviewMapper">
	<resultMap type="com.gs24.website.domain.ImgVO" id="ImgReviewResultMap">
		<id property="ImgId" column="IMG_REVIEW_ID"/>
		<result property="foreignId" column="REVIEW_ID"/>
		<result property="ImgRealName" column="IMG_REVIEW_REAL_NAME"/>
		<result property="ImgChgName" column="IMG_REVIEW_CHG_NAME"/>
		<result property="ImgExtension" column="IMG_REVIEW_EXTENSION"/>
		<result property="ImgDateCreated" column="IMG_REVIEW_DATE_CREATED"/>
		<result property="ImgPath" column="IMG_REVIEW_PATH"/>
	</resultMap>
	
	<insert id="insertImgReview">
		INSERT INTO IMG_REVIEW
		(IMG_REVIEW_ID, REVIEW_ID, IMG_REVIEW_REAL_NAME, IMG_REVIEW_CHG_NAME, IMG_REVIEW_EXTENSION, IMG_REVIEW_PATH)
		VALUES(IMG_REVIEW_SEQ.NEXTVAL, #{foreignId}, #{ImgRealName}, #{ImgChgName}, #{ImgExtension}, #{ImgPath})
	</insert>
	
	<select id="selectImgReviewByReviewId" resultMap="ImgReviewResultMap">
		SELECT * FROM IMG_REVIEW WHERE REVIEW_ID = #{foreignId}
	</select>
	
	<select id="selectImgReviewById" resultMap="ImgReviewResultMap">
		SELECT * FROM IMG_REVIEW WHERE IMG_REVIEW_ID = #{ImgId}
	</select>
	
	<select id="selectAllImgReview" resultMap="ImgReviewResultMap">
		SELECT * FROM IMG_REVIEW ORDER BY IMG_REVIEW_ID DESC
	</select>
	
	<update id="updateImgReviewById">
		UPDATE IMG_REVIEW SET
		IMG_REVIEW_PATH = #{ImgPath}, IMG_REVIEW_REAL_NAME=#{ImgRealName}, IMG_REVIEW_CHG_NAME=#{ImgChgName}, IMG_REVIEW_EXTENTION={ImgExtension}, IMG_REVIEW_DATE_CREATED = SYSDATE
		WHERE IMG_REVIEW_ID = #{ImgId}
	</update>
	
	<delete id="deleteImgReviewById">
		DELETE FROM IMG_REVIEW WHERE IMG_REVIEW_ID = #{ImgId}
	</delete>
	
	<select id="selectOldReview" resultMap="ImgReviewResultMap">
		SELECT * FROM IMG_REVIEW WHERE IMG_REVIEW_DATE_CREATED = TO_CHAR(SYSDATE - 1, 'yyyy\mm\dd')
	</select>
	
	<delete id="deleteImgReviewByReviewId">
		DELETE FROM IMG_REVIEW WHERE REVIEW_ID = #{foreignId}
	</delete>
</mapper>