<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs24.website.persistence.ImgThumbnailMapper">
	<resultMap type="com.gs24.website.domain.ImgVO" id="ImgThumanilResultMap">
		<id property="ImgId" column="IMG_THUMBNAIL_ID"/>
		<result property="foreignId" column="FOOD_ID"/>
		<result property="ImgRealName" column="IMG_THUMBNAIL_REAL_NAME"/>
		<result property="ImgChgName" column="IMG_THUMBNAIL_CHG_NAME"/>
		<result property="ImgExtension" column="IMG_THUMBNAIL_EXTENSION"/>
		<result property="ImgDateCreated" column="IMG_THUMBNAIL_DATE_CREATED"/>
		<result property="ImgPath" column="IMG_THUMBNAIL_PATH"/>
	</resultMap>
	
	<insert id="insertImgThumbnail">
		INSERT INTO IMG_THUMBNAIL
		(IMG_THUMBNAIL_ID, FOOD_ID, IMG_THUMBNAIL_PATH, IMG_THUMBNAIL_REAL_NAME, IMG_THUMBNAIL_CHG_NAME, IMG_THUMBNAIL_EXTENSION)
		VALUES(IMG_THUMBNAIL_SEQ.NEXTVAL, #{foreignId}, #{ImgPath}, #{ImgRealName}, #{ImgChgName}, #{ImgExtension} )
	</insert>
	
	<select id="selectImgThumbnailById" resultMap="ImgThumanilResultMap">
		SELECT * FROM IMG_THUMBNAIL WHERE IMG_THUMBNAIL_ID = #{ImgId}
	</select>
	
	<select id="selectImgThumbnailByFoodId" resultMap="ImgThumanilResultMap">
		SELECT * FROM IMG_THUMBNAIL WHERE FOOD_ID = ${foreignId}
	</select>
	
	<select id="selectAllImagThumbnail" resultMap="ImgThumanilResultMap">
		SELECT * FROM IMG_THUMBNAIL ORDER BY IMG_FOOD_ID DESC
	</select>
	
	<update id="updateImgFood">
		UPDATE IMG_THUMBNAIL SET
		IMG_THUMBNAIL_PATH = #{ImgPath}, IMG_THUMBNAIL_REAL_NAME =  #{ImgRealName}, IMG_THUMBNAIL_CHG_NAME = #{ImgChgName}, IMG_THUMBNAIL_EXTENSION = #{ImgExtension}, IMG_THUMBNAIL_DATE_CREATED = SYSDATE
		WHERE FOOD_ID = #{foreignId}
	</update>
	
	<delete id="deleteImgThumbnail">
		DELETE FROM IMG_THUMBNAIL WHERE  FOOD_ID = #{foreignId}
	</delete>
	
	<select id="selectOldThumbnail" resultMap="ImgThumanilResultMap">
		SELECT * FROM IMG_THUMBNAIL WHERE IMG_THUMBNAIL_DATE_CREATED = TO_CHAR(SYSDATE -1, 'yyyy\mm\dd')
	</select>
</mapper>