<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapper XML 설정 태그 -->

<!-- namespace : 연결할 Mapper 인터페이스 경로 및 이름 -->
<mapper namespace="com.gs24.website.persistence.NoticeMapper">
	<!-- <resultMap> : DB 쿼리 반환 데이터와 Entity(VO) 클래스의 멤버 변수 매핑을 정의하는 태그 -->
	<resultMap type="com.gs24.website.domain.NoticeVO"
		id="noticeResultMap">
		<!-- <id> : key 칼럼 매핑 태그 <result> : 일반 칼럼 매핑 태그 - 속성 : -->
		<id property="noticeId" column="NOTICE_ID" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="noticeTitle" column="NOTICE_TITLE" />
		<result property="noticeContent" column="NOTICE_CONTENT" />
		<result property="noticeDateCreated"
			column="NOTICE_DATE_CREATED" />
		<result property="noticeType" column="NOTICE_TYPE" />
	</resultMap>

	<insert id="insertNotice">
		INSERT INTO NOTICE (NOTICE_ID, MEMBER_ID,
		NOTICE_TITLE, NOTICE_CONTENT,
		NOTICE_DATE_CREATED, NOTICE_TYPE)
		VALUES
		(NOTICE_SEQ.NEXTVAL, #{memberId}, #{noticeTitle}, #{noticeContent},
		SYSDATE, #{noticeType})
	</insert>

	<select id="selectListByNotice" resultMap="noticeResultMap">
		SELECT * FROM NOTICE
		ORDER BY NOTICE_ID DESC
	</select>

	<select id="selectOneByNotice" resultMap="noticeResultMap">
		SELECT * FROM NOTICE
		WHERE NOTICE_ID = #{noticeId}
	</select>

	<update id="updateNotice">
		UPDATE NOTICE SET
		NOTICE_TITLE = #{noticeTitle},
		NOTICE_CONTENT = #{noticeContent},
		NOTICE_DATE_CREATED = SYSDATE,
		NOTICE_TYPE = #{noticeType}
		WHERE
		NOTICE_ID = #{noticeId}
	</update>

	<delete id="deleteNotice">
		DELETE NOTICE WHERE NOTICE_ID = #{noticeId}
	</delete>

	<select id="selectListByPagination" resultMap="noticeResultMap">
		SELECT * FROM
		(
		SELECT ROW_NUMBER() OVER (ORDER BY NOTICE_ID DESC) AS RN, NOTICE.*
		FROM NOTICE	
		<choose>
				<when test="type == 'title'.toString()">
					WHERE NOTICE_TITLE LIKE '%'||#{keyword}||'%'
				</when>
				<when test="type == 'content'.toString()">
					WHERE NOTICE_CONTENT LIKE '%'||#{keyword}||'%'
				</when>	
			</choose>	   
			) 
		WHERE RN BETWEEN #{start} AND #{end}
	</select>

	<select id="selectTotalCount" resultType="Integer">
    SELECT COUNT(*) AS TOTAL_COUNT 
    FROM NOTICE 
    WHERE NOTICE_TYPE = 0
    <choose>
        <when test="type == 'title'">
            AND NOTICE_TITLE LIKE '%'||#{keyword}||'%'
        </when>
        <when test="type == 'content'">
            AND NOTICE_CONTENT LIKE '%'||#{keyword}||'%'
        </when>
    </choose>
	</select>

</mapper>
