<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs24.website.persistence.OrderHistoryMapper">
    <resultMap type="com.gs24.website.domain.OrderHistoryVO" id="orderHistoryResultMap">
        <id property="orderId" column="ORDER_ID" />
        <result property="foodId" column="FOOD_ID" />
        <result property="orderAmount" column="ORDER_AMOUNT" />
        <result property="orderDateCreated" column="ORDER_DATE_CREATED" />
        <result property="ownerId" column="OWNER_ID" />
        <result property="approvalStatus" column="APPROVAL_STATUS" />
    </resultMap>
    
    <insert id="insertOrder" >
        INSERT INTO ORDER_HISTORY (ORDER_ID, FOOD_ID, ORDER_AMOUNT, ORDER_DATE_CREATED, OWNER_ID)
        VALUES (ORDER_HISTORY_SEQ.NEXTVAL, #{foodId}, #{orderAmount}, SYSDATE, #{ownerId})
    </insert>

    <select id="selectAllOrders" resultMap="orderHistoryResultMap">
        SELECT * FROM ORDER_HISTORY ORDER BY ORDER_DATE_CREATED DESC
    </select>
    
    <select id="selectOrdersByOwnerId" parameterType="string" resultMap="orderHistoryResultMap">
        SELECT * FROM ORDER_HISTORY
        WHERE OWNER_ID = #{ownerId}
    </select>
    
    <select id="selectOrderById" parameterType="int" resultMap="orderHistoryResultMap">
    SELECT * FROM ORDER_HISTORY WHERE ORDER_ID = #{orderId}
	</select>

    <update id="updateApprovalStatus">
        UPDATE ORDER_HISTORY
        SET APPROVAL_STATUS = #{approvalStatus}
        WHERE ORDER_ID = #{orderId}
    </update>
</mapper>
