<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs24.website.persistence.PreorderMapper">
	<resultMap type="com.gs24.website.domain.PreorderVO" id="PreorderResultMap">
		<id property="preorderId" column="PREORDER_ID"/>
		<result property="foodId" column="FOOD_ID"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="preorderAmount" column="PREORDER_AMOUNT"/>
		<result property="pickupDate" column="PICKUP_DATE"/>
		<result property="isPickUp" column="IS_PICK_UP"/>
		<result property="isExpiredOrder" column="IS_EXPIRED_ORDER"/>
		<result property="totalPrice" column="TOTAL_PRICE"/>
		<result property="appliedGiftCardId" column="APPLIED_GIFTCARD_ID"/>
		<result property="appliedCouponId" column="APPLIED_COUPON_ID"/>
		<result property="convenienceId" column="CONVENIENCE_ID"/>
	</resultMap>
	
	<insert id="insertPreorder" useGeneratedKeys="true" keyProperty="preorderId">
	<selectKey keyProperty="preorderId" resultType="Integer" order="BEFORE">
        SELECT PREORDER_SEQ.NEXTVAL FROM DUAL
    </selectKey>
		INSERT INTO PREORDER
		(PREORDER_ID, FOOD_ID, MEMBER_ID, PREORDER_AMOUNT, PICKUP_DATE, IS_PICK_UP, IS_EXPIRED_ORDER, TOTAL_PRICE, APPLIED_GIFTCARD_ID, APPLIED_COUPON_ID, CONVENIENCE_ID)
		VALUES(#{preorderId}, #{foodId}, #{memberId}, #{preorderAmount}, #{pickupDate}, #{isPickUp}, #{isExpiredOrder}, #{totalPrice}, #{appliedGiftCardId}, #{appliedCouponId}, #{convenienceId})
	</insert>
	
	<select id="selectPreorderOneById" resultMap="PreorderResultMap">
		SELECT * FROM PREORDER WHERE PREORDER_ID = #{preorderId}
	</select>
	
	<select id="selectPreoderByMemberId" resultMap="PreorderResultMap">
		SELECT * FROM PREORDER WHERE MEMBER_ID = #{memberId} ORDER BY PREORDER_ID DESC
	</select>
	
	<update id="updatePreorderInIsPickUp">
		UPDATE PREORDER SET IS_PICK_UP = #{isPickUp} WHERE PREORDER_ID = #{preorderId}
	</update>
	
	<update id="updatePreorderInIsExpiredOrder">
		UPDATE PREORDER SET IS_EXPIRED_ORDER = #{isExpiredOrder} WHERE PREORDER_ID = #{preorderId}
	</update>
	
	<delete id="deletePreorderByPreorderId">
		DELETE FROM PREORDER WHERE PREORDER_ID = #{preorderId}
	</delete>
	
	<select id="selectPreorderBymemberIdPagination" resultMap="PreorderResultMap">
      SELECT * FROM
      (
      SELECT ROW_NUMBER() OVER (ORDER BY PREORDER_ID DESC)
      AS RN, PREORDER.* FROM PREORDER WHERE MEMBER_ID = #{memberId}
      )
      WHERE RN BETWEEN #{start} AND #{end}
   </select>
   
   <select id="countPreorderByMemberId" resultType="Integer">
      SELECT COUNT(*) FROM PREORDER WHERE MEMBER_ID = #{memberId} ORDER BY PREORDER_ID DESC
   </select>
   
   <select id="selectAlreadyPreorderByFoodId" resultMap="PreorderResultMap">
   		SELECT * FROM PREORDER WHERE FOOD_ID = #{foodId} AND IS_PICK_UP = 0 AND IS_EXPIRED_ORDER = 0
   </select>
   
   <select id="countNotPickedUpPreorderByMemberId" resultType="Integer">
   		SELECT COUNT(*) FROM PREORDER WHERE MEMBER_ID = #{memberId} AND IS_PICK_UP = 0 AND IS_EXPIRED_ORDER = 0
   </select>
   
   <select id="selectNotPickUpPreorder" resultMap="PreorderResultMap">
   		SELECT * FROM PREORDER WHERE 
   		<choose>
   			<when test="keyword == null"></when>
   			<when test="keyword == ''"></when>
   			<otherwise>MEMBER_ID = #{keyword} AND</otherwise>
   		</choose>
   		IS_PICK_UP = 0 AND IS_EXPIRED_ORDER = 0
   		<choose>
   			<when test="sortType == 'Date'.toString">ORDER BY PICKUP_DATE DESC</when>
   			<when test="sortType == 'Food'.toString">ORDER BY FOOD_ID DESC</when>
   			<when test="sortType == 'Order'.toString">ORDER BY PREORDER_ID DESC</when>
   			<otherwise></otherwise>
   		</choose>
   </select>
   
   <select id="countNotPickUpPreorderByPagination" resultType="int">
   		SELECT COUNT(*) FROM PREORDER WHERE 
   		<choose>
   			<when test="keyword == null"></when>
   			<when test="keyword == ''"></when>
   			<otherwise>MEMBER_ID = #{keyword} AND</otherwise>
   		</choose>
   		IS_PICK_UP = 0 AND IS_EXPIRED_ORDER = 0
   </select>
   
   <select id="selectPickedUpFoodIdByMemberId" resultType="Integer">
   		SELECT DISTINCT FOOD_ID FROM PREORDER WHERE MEMBER_ID = #{memberId} AND IS_PICK_UP = 1
   </select>
</mapper>