<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs24.website.persistence.QuestionMapper">

<resultMap type="com.gs24.website.domain.QuestionVO"
		id="questionResultMap">
		<!-- <id> : key 칼럼 매핑 태그 <result> : 일반 칼럼 매핑 태그 - 속성 : -->
		<id property="questionId" column="QUESTION_ID" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="foodName" column="FOOD_NAME" />
		<result property="questionTitle" column="QUESTION_TITLE" />
		<result property="questionContent" column="QUESTION_CONTENT" />
		<result property="questionDateCreated" column="QUESTION_DATE_CREATED" />
		<result property="isAnswered" column="IS_ANSWERED" />
	</resultMap>
	
	<insert id="insertQuestion">
		INSERT INTO QUESTION (QUESTION_ID, MEMBER_ID, FOOD_NAME,
		 QUESTION_TITLE, QUESTION_CONTENT, QUESTION_DATE_CREATED)
		 VALUES (QUESTION_SEQ.NEXTVAL, #{memberId}, #{foodName}, #{questionTitle},
		 #{questionContent}, SYSDATE)
	</insert>
	<select id="selectQuestionList" resultMap="questionResultMap">
		SELECT * FROM QUESTION ORDER BY QUESTION_ID DESC
	</select>
	
	<select id="selecQuestiontOne" resultMap="questionResultMap">
		SELECT * FROM QUESTION WHERE QUESTION_ID = #{questionId}
	</select>
	
	<update id="updateQuestion">	 	
	   UPDATE QUESTION SET
       QUESTION_TITLE = #{questionTitle}, 
       QUESTION_CONTENT = #{questionContent}, 
       QUESTION_DATE_CREATED = SYSDATE
       WHERE QUESTION_ID = #{questionId}	 	
	 </update>
	 
	 <delete id="deleteQuestion">	 
	   DELETE QUESTION WHERE QUESTION_ID = #{questionId}	 	
	 </delete>
	 
	 <select id="selectQuestionListByPagination" resultMap="questionResultMap">
	 	SELECT * FROM
	 	(
	 		SELECT ROW_NUMBER() OVER (ORDER BY QUESTION_ID DESC)
	 		AS RN, QUESTION.* FROM QUESTION
	 	) 
	 	WHERE RN BETWEEN #{start} AND #{end}
	 </select>
	 
	<select id="selectQuestionTotalCount" resultType="Integer">
		SELECT COUNT(*) TOTAL_COUNT FROM QUESTION
	 </select>
	 
	 <update id="updateAnswer" parameterType="int">
		UPDATE QUESTION
		SET IS_ANSWERED = 1
		WHERE QUESTION_ID = #{questionId} AND IS_ANSWERED = 0
	</update>
	
	<select id="selectQuestionListByMemberId" resultMap="questionResultMap">
		SELECT * FROM QUESTION WHERE MEMBER_ID = #{memberId}
	</select>
</mapper>