<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs24.website.persistence.ReviewMapper">

	<resultMap type="com.gs24.website.domain.ReviewVO"
		id="reviewResultMap">
		<id property="reviewId" column="REVIEW_ID" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="reviewTitle" column="REVIEW_TITLE" />
		<result property="reviewContent" column="REVIEW_CONTENT" />
		<result property="foodId" column="FOOD_ID" />
		<result property="reviewRating" column="REVIEW_RATING" />
		<result property="reviewDateCreated"
			column="REVIEW_DATE_CREATED" />
	</resultMap>


	<insert id="insertReview">
		INSERT INTO REVIEW
		(REVIEW_ID, MEMBER_ID,
		REVIEW_TITLE, REVIEW_CONTENT, FOOD_ID, REVIEW_RATING)
		VALUES(REVIEW_SEQ.NEXTVAL,
		#{memberId},#{reviewTitle},#{reviewContent},#{foodId},#{reviewRating}
		)
	</insert>

	<select id="selectReviewByFoodId" resultMap="reviewResultMap">
		SELECT * FROM REVIEW
		WHERE FOOD_ID = #{foodId} ORDER BY REVIEW_ID DESC
	</select>

	<select id="selectReviewByReviewId" resultMap="reviewResultMap">
		SELECT * FROM
		REVIEW WHERE REVIEW_ID = #{reviewId}
	</select>

	<select id="selectFirstReview" resultMap="reviewResultMap">
		SELECT *
		FROM (SELECT *
		FROM REVIEW ORDER BY REVIEW_ID DESC)
		WHERE ROWNUM = 1
	</select>

	<select id="selectNextReviewId" resultType="long">
		SELECT LAST_NUMBER
		FROM USER_SEQUENCES WHERE SEQUENCE_NAME = 'REVIEW_SEQ'
	</select>

	<update id="updateReview">
		UPDATE REVIEW SET
		REVIEW_TITLE = #{reviewTitle},
		REVIEW_CONTENT = #{reviewContent}, REVIEW_RATING = #{reviewRating}
		WHERE REVIEW_ID = #{reviewId}
	</update>

	<update id="updateReviewTitle">
		UPDATE REVIEW SET
		REVIEW_TITLE = #{reviewTitle}
		WHERE
		REVIEW_ID = #{reviewId}
	</update>

	<update id="updateReviewContent">
		UPDATE REVIEW SET
		REVIEW_CONTENT = #{reviewContent}
		WHERE REVIEW_ID = #{reviewId}
	</update>

	<update id="updateReviewRating">
		UPDATE REVIEW SET
		REVIEW_RATING = #{reviewRating}
		WHERE REVIEW_ID = #{reviewId}
	</update>

	<update id="updateReviewImgPath">
		UPDATE REVIEW SET
		REVIEW_IMG_PATH = #{reviewImgPath}
		WHERE REVIEW_ID = #{reviewId}
	</update>

	<delete id="deleteReview">
		DELETE FROM REVIEW WHERE REVIEW_ID = #{reviewId}
	</delete>
	
	<delete id="deleteReviewByFoodId">
		DELETE FROM REVIEW WHERE FOOD_ID = #{foodId}
	</delete>
	
	<select id="selectReviewByMemberIdPagination" resultMap="reviewResultMap">
      SELECT * FROM
      (
      SELECT ROW_NUMBER() OVER (ORDER BY REVIEW_ID DESC)
      AS RN, REVIEW.* FROM REVIEW WHERE MEMBER_ID = #{memberId}
      )
      WHERE RN BETWEEN #{start} AND #{end}
   </select>
   
   <select id="countReviewByMemberId" resultType="Integer">
      SELECT COUNT(*) FROM REVIEW WHERE MEMBER_ID = #{memberId} ORDER BY REVIEW_ID DESC
   </select>
	
	<select id="selectReviewPagination" resultMap="reviewResultMap">
		SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY REVIEW_ID DESC) AS RN, REVIEW.* FROM REVIEW WHERE FOOD_ID = #{foodId})
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectTotalCountByFoodId" resultType="int">
		SELECT COUNT(*) FROM REVIEW WHERE FOOD_ID = #{foodId}
	</select>
	
</mapper>
		