.image-drop,.thumbnail-drop {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 2px dashed #ccc;
    cursor: pointer;
    background-color: #f9f9f9;
    border-radius: 8px;
    line-height: 200px;
    font-size: 16px;
    color: grey;
}
.image-drop p {
    margin: 0;
    font-size: 16px;
    color: #333;
}
.update-image-drop {
    width: 200px;
    height: 200px;
    border: 2px dashed maroon;
    margin-bottom: 20px;
    text-align: center;
    line-height: 200px;
    font-size: 16px;
    color: grey;
}

.image-list {
    margin-top: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 20px;
    height: 120px;
    width: 350px;
}

.thumbnail-image{
	margin-top: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 20px;
    height: 205px;
    width: 205px;
}

.image-list, .thumbnail-image {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.image-item{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #eee;
    border-radius: 8px;
    text-align: center;
    line-height: 120px;
    font-size: 14px;
    border-style: solid 1px;
    border-color: balck;
}
.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-item:hover {
	border-color: blue;
	border-style: solid;
}
.thumbnail-item{
	position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #eee;
    border-radius: 15px;
    text-align: center;
    line-height: 120px;
    font-size: 14px;
    border-style: solid 1px;
    border-color: balck;
}
.thumbnail-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}